<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('master/head'); %>
        <title>Dashboard</title>
</head>

<body>

    <div class="wrapper fixed-top d-flex align-items-center">
        <!--Top menu -->
        <%- include('master/header'); %>

            <!-- <header id="header" class="header fixed-top d-flex align-items-center">
        </header> -->
            <!-- sidebar -->
            <div class="sidebar">
                <!-- Sidebar.ejs -->
                <%- include('master/sidebar'); %>
            </div>
    </div>
    <main id="main" class="main">
        <%- include('master/home'); %>
    </main><!-- End #main -->
    <%- include('master/script'); %>

</body>

</html>