<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../master/head'); %>
        <title>Dashboard</title>
</head>

<body>

    <div class="wrapper fixed-top d-flex align-items-center">
        <!--Top menu -->
        <%- include('../master/header'); %>

            <!-- <header id="header" class="header fixed-top d-flex align-items-center">
        </header> -->
            <!-- sidebar -->
            <div class="sidebar">
                <!-- Sidebar.ejs -->
                <%- include('../master/sidebar'); %>
            </div>
    </div>
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>User</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Jenis Rumput</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-2 mb-1">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Tambah
                      </button>
                </div>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <br>
                            <table class="table table-borderless datatable" id="tableReport">
                                <thead>
                                    <tr>
                                        <th scope="col">Jenis Rumput</th>
                                        <th scope="col">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% data.forEach(function(data){ %>
                                        <tr>
                                            <td>
                                                <%= data.jenis_rumput %>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <a href="/jenis-rumput/del/<%= data.id %>"><button class="btn btn-danger">Hapus</button></a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <% }); %>
                                </tbody>
                            </table>
                        </div>
                        <!-- Disabled and active states -->
                    </div>

                </div>
            </div>

            </div>
        </section>
    </main><!-- End #main -->
    <%- include('../master/script'); %>
        <script>
            $(document).ready(function () {
                $('#tableReport').DataTable();
            });
        </script>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Tambah Jenis Rumput</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="/jenis-rumput" autocomplete="off">
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-12 pt-3">
                                        <div class="form-group">
                                            <label class="form-control-label" for="email">Jenis Rumput</label>
                                            <input type="text" class="form-control mt-2" name="jenis_rumput"
                                                placeholder="Gajah">
                                        </div>
                                    </div>
                                </div>            
                            </div>
            
                            <!-- Button -->
                            <div class="pl-lg-4 pt-3">
                                <div class="row">
                                    <div class="col text-center">
                                        <button type="submit" class="btn btn-primary">Simpan</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>