<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <title>Profile</title>
</head>

<body>

    <div class="wrapper fixed-top d-flex align-items-center">
        <!--Top menu -->
        <%- include('../partials/atasan/header'); %>

            <!-- <header id="header" class="header fixed-top d-flex align-items-center">
        </header> -->
            <!-- sidebar -->
            <div class="sidebar">
                <!-- Sidebar.ejs -->
                <%- include('../partials/atasan/sidebar'); %>
            </div>
    </div>
    <main id="main" class="main">
        <div class="row align-items-center" style="margin-top: 8%; margin-right: 1%;">
            <%- include('../partials/atasan/profile'); %>
        </div>
    </main>
    <!-- End #main -->
    <%- include('../partials/script'); %>

</body>

</html>